{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.suskalo/coffi {:mvn/version "0.1.251"}
        org.clojure/tools.logging {:mvn/version "1.1.0"}}
 :aliases
 {:local-coffi {:override-deps {org.suskalo/coffi {:local/root "../coffi"}}}
  :dev {:extra-paths ["." "dev"]
        :extra-deps {io.github.clojure/tools.build {:git/tag "v0.3.0" :git/sha "e418fc9"}
                     ch.qos.logback/logback-classic {:mvn/version "1.2.6"}}
        :jvm-opts ["--add-modules=jdk.incubator.foreign" "--enable-native-access=ALL-UNNAMED"
                   "-Dclojure.tools.logging.factory=clojure.tools.logging.impl/slf4j-factory"]}
  :test
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "62ef1de18e076903374306060ac0e8a752e57c86"}}
   :exec-fn cognitect.test-runner.api/test}

  :build {:replace-deps {org.clojure/clojure {:mvn/version "1.10.3"}
                         io.github.clojure/tools.build {:git/tag "v0.3.0" :git/sha "e418fc9"}}
          :ns-default build
          :exec-fn run-tasks}
  :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :local :artifact "target/glfw-clj.jar"}}
  :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote :artifact "target/glfw-clj.jar"}}}}
